<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Bảo mật
<Files .env>
    Order allow,deny
    Deny from all
</Files>

# Chặn truy cập file nhạy cảm
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch> 